.landing_background {
	background-image: url("./../images/landing_background.jfif");
	background-color: #1c2bad;
}

.form-control:focus {
	border-color: rgba(99, 102, 241, 0.5);
	box-shadow: 0 0 0 0.1rem rgba(99, 102, 241, 0.5);
}

.hover-effect {
	background-image: linear-gradient(#6366f180, #6366f180);
	background-size: 0 100%;
	background-repeat: no-repeat;
	transition: 0.4s;
}
.hover-effect:hover {
	background-size: 100% 100%;
}
